---
import './index.scss';
---
<s-footer class="s-Footer">
    <div class="s-Footer__left">
        An opinionated framework for Astro.
    </div>
    <div class="s-Footer__right">
        By <a href="https://tomorrow-happens.studio">Tomorrow Happens</a>
    </div>
</s-footer>