@use '@css/mixins/v-spacing' as *;
@use '@css/mixins/_spacing' as *;
@use '@css/mixins/_buttons' as *;
@use '@css/mixins/_transitions' as *;

.s-Footer {
    @include default-side-margin;
    @include v-spacing(margin-top, var(--sizing-4-5), var(--sizing-4-5));
    @include v-spacing(padding-top, var(--sizing-1-5), var(--sizing-1-5));
    @include v-spacing(padding-bottom, var(--sizing-1-5), var(--sizing-1-5));
    border-top: 2px solid currentColor;
    display: flex;
    justify-content: space-between;

    &__left {

    }

    &__right {
        a {
            @include link-line-not-visible;
        }
    }
}