@use '@css/mixins/v-spacing' as *;
@use '@css/mixins/_spacing' as *;

.e-Header {
    @include v-spacing(margin-bottom, var(--sizing-4-5), var(--sizing-7-5));
    @include default-side-padding;
    @include v-spacing(padding-top, var(--sizing-1-5), var(--sizing-2-5));

    ul {
        position: absolute;
        @include v-spacing(top, var(--sizing-1-5), var(--sizing-2-5));
        @include default-side-padding;
        display: flex;
        right: 0;
        li {
            @include v-spacing(margin-left, var(--sizing-1-5), var(--sizing-2-5));
            &:first-child {
                margin-left: 0;
            }

            a {
                &:hover {
                    font-style: italic;
                }
                &.current-menu-item {
                    font-style: italic;
                }
            }
        }
    }
}